{{> "menu"}}
{{> "header"}}

    <!-- >>>>>>>>>>>>>>>>>>>>>> -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Update Order</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.php">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Update Order
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">

                <!-- Form controls -->

                <div class="col-md-6">
                    <div class="card mb-4">

                        <div class="card-body">
                            <form class="mb-3" action="/product/addProduct" method="POST" enctype="multipart/form-data">
                               
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Status</label>
                                    <input name="price" type="text" class="form-control" id="status" value="Editing"
                                        onchange="validation();" />
                                </div>
                               

                            

                               

                                <div>
                                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                    <textarea name="desciption" class="form-control" id="desciption"
                                        onchange="validation();" rows="3">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</textarea>
                                </div>
                                <div class="mb-4"></div>
                                <button class="btn btn-primary d-grid w-100" va type="submit" disabled>Update
                                   Order</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    
    {{> "footer"}}