{{> "menu"}}
{{> "header"}}

    <!-- >>>>>>>>>>>>>>>>>>>>>> -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Update Branch</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.php">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Update Branch
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">

                <!-- Form controls -->

                <div class="col-md-6">
                    <div class="card mb-4">

                        <div class="card-body">
                            <form class="mb-3" action="/product/addProduct" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                                    <input name="name" type="text" class="form-control" id="name"
                                        value="chi nhánh số 3" required="" onchange="validation();" />
                                </div>
                               <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Address</label>
                                    <input name="Address" type="text" class="form-control" id="Address"
                                        value="60 Tân Chánh Hiệp 03, Quận 12, Thành phố Hồ Chí Minh, Việt Nam." required="" onchange="validation();" />
                                </div>
                               

                               

                                <div>
                                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                    <textarea name="desciption" class="form-control" id="desciption"
                                        onchange="validation();" rows="3">Quán khá đông khách, mỗi khách đến ăn sẽ xếp hàng, gọi món, tính tiền và tự bê bát phở của mình về chỗ ngồi. Một cách phục vụ khá lạ nhưng lại giúp quy trình diễn ra suôn sẻ hơn. Bạn sẽ không phải chờ đợi món ăn của mình và sốt ruột khi thấy người tới sau lại ăn trước..</textarea>
                                </div>
                                <div class="mb-4"></div>
                                <button class="btn btn-primary d-grid w-100" va type="submit" disabled>Update
                                   Branch</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    
    {{> "footer"}}