{{> "menu"}}
{{> "header"}}

    <!-- >>>>>>>>>>>>>>>>>>>>>> -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Update Vehicle part</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.php">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Update Vehicle part
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">

                <!-- Form controls -->

                <div class="col-md-6">
                    <div class="card mb-4">

                        <div class="card-body">
                            <form class="mb-3" action="/product/addProduct" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                                    <input name="name" type="text" class="form-control" id="name"
                                        value="Má phanh thắng đĩa" required="" onchange="validation();" />
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Price</label>
                                    <input name="price" type="number" class="form-control" id="price" value="19000000"
                                        onchange="validation();" />
                                </div>
                               

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Image product</label>
                                    <input name="image" class="form-control" type="file" id="image"
                                        onchange="onchangeImage(event);" /><br />
                                    <img width="150" height="100" id="img-display" alt="Image"
                                        src="../../app-assets\images\icons\ma_phanh_xe_may_3.jpg" />
                                </div>

                               

                                <div>
                                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                    <textarea name="desciption" class="form-control" id="desciption"
                                        onchange="validation();" rows="3">Phanh là một bộ phận cực kỳ quan trọng trên xe máy, để đảm bảo an toàn, cần chú ý kiểm tra thường xuyên và thay mới kịp thời.</textarea>
                                </div>
                                <div class="mb-4"></div>
                                <button class="btn btn-primary d-grid w-100" va type="submit" disabled>Update
                                    Vehicle part</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    
    {{> "footer"}}