
{{> "header"}}
{{> "menu"}}
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Vehicle</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Vehicle
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="content-detached content-body">
                <div class="content-body">
                    <div id="wallet">
                        <div class="wallet-table-th d-none d-md-block">
                            <div class="row">
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">License plates</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Automaker</p>
                                </div>
                                <div class="col-md-1 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Model</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Year</p>
                                </div>
                                <div class="col-md-3 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Country of manufacture</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Action</p>
                                </div>
                            </div>
                        </div>
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                           <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">51 T852445</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Honda</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Wave apha</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">2022</h9>

                                            </div>
                                         <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Viet Nam</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <a class="dropdown-item" href="#"><i
                                                        class="bx bx-edit-alt me-1 text-sm-center"></i> Hitory care</a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC --> <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                           <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">51 T852445</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Honda</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Wave apha</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">2022</h9>

                                            </div>
                                         <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Viet Nam</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <a class="dropdown-item" href="#"><i
                                                        class="bx bx-edit-alt me-1 text-sm-center"></i> Hitory care</a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC --> <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                           <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">51 T852445</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Honda</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Wave apha</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">2022</h9>

                                            </div>
                                         <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Viet Nam</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <a class="dropdown-item" href="#"><i
                                                        class="bx bx-edit-alt me-1 text-sm-center"></i> Hitory care</a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC --> <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                           <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">51 T852445</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Honda</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Wave apha</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">2022</h9>

                                            </div>
                                         <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Viet Nam</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <a class="dropdown-item" href="#"><i
                                                        class="bx bx-edit-alt me-1 text-sm-center"></i> Hitory care</a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC --> <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                           <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">51 T852445</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Honda</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Wave apha</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">2022</h9>

                                            </div>
                                         <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Viet Nam</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <a class="dropdown-item" href="#"><i
                                                        class="bx bx-edit-alt me-1 text-sm-center"></i> Hitory care</a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC --> <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                           <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">51 T852445</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Honda</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Wave apha</h9>

                                            </div>
                                             <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">2022</h9>

                                            </div>
                                         <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Viet Nam</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1">
                                                <a class="dropdown-item" href="#"><i
                                                        class="bx bx-edit-alt me-1 text-sm-center"></i> Hitory care</a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{> "footer"}}